$straw: #e1ce7a;
$veryPaleYellow: #FBFFB9;
$peachOrange: #FDD692;
$lightRedOchre: #EC7357;
$tuscanRed: #754f44;

body {
  background-image: url(../../resources/images/bg2.jpg);
}

.container {
  background-color: rgba(117,79,68, .7);
  margin-top: 1rem;
  border-radius: 5px;
}

.jumbotron {
  background-color: transparent;
  margin-top: 1rem;
  margin-bottom: 0px;
  padding: 2rem;
  h1 {
    color: $peachOrange;
    text-align: center;
    margin-top: 0px;
  }
}

h3 {
  text-align: center;
  color: $tuscanRed;
  margin-top: 0px;
}

.form-horizontal {
  .row{
    display: flex;
    flex-wrap: wrap;
  }
  .row .col-sm-3 {
    display: flex;
    align-items: center;
  }
}

.food, .worse {
  background-color: $tuscanRed;
  margin: 1rem;
  padding: 1rem;
  border-radius: 5px;
  font-size: large;
}

.form-horizontal, .summary, .list {
  background-color: $straw;
  border: solid 2px $lightRedOchre;
  margin: 1rem;
  padding: 1rem;
  border-radius: 5px;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}

select {
  margin-left: 1rem;
}
